
	body {
		font-family: var(--font-family);
		font-size: 16px;
		color: var(--black);
		font-weight: 300;
		letter-spacing: 0.062em;
	}
	
	:focus {
		outline: none;
	}

/* Text */
	
	p {
		font-size: 1.125em;
		line-height: 1.55;
	}
	
	a {
		text-decoration: none;
	}
	
	nav-link {
		font-size: 1em;
		line-height: 1.25;
		letter-spacing: .05em;
		
		font-weight: 400;
		color: var(--grey-60);
	}
	
		nav-link:hover {
			color: var(--black);
		}
		
		nav-link.active {
			color: var(--black);
		}
	
	h1 {
		font-size: 2.188em;
		line-height: 1.25;
	}
	
	h2 {
		font-size: 2em;
		line-height: 1.25;
	}
	
	h3 {
		font-size: 1.125em;
		line-height: 1.55;
		
		font-weight: 400;
		color: var(--main);
	}
	
	.center {
		text-align: center;
	}
	
	.cap {
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		
		letter-spacing: .03em;
	}
	
	.color {
		color: var(--main);
	}
	
	h1.white {
		color: var(--white);
	}
	
	li {
		list-style-type: none;
	}
	
	li.service {
		font-size: 1.125em;
		line-height: 1.55;
		font-weight: 400;
		
		padding: 0.75em 1.56em 0.75em 1.56em;
		width: 18.31em;
	}
		li.service a:link {
			color: var(--grey-70);
		}
		li.service a:visited {
			color: var(--grey-70);
		}
		li.service a:hover {
			color: var(--light);
		}
		li.service a:active {
			color: var(--main);
		}
		li.service.active {
			color: var(--light);
			background-color: var(--white);
			box-shadow: var(--shadow);
		}
		
	li.subheader {
		font-size: 1.063em;
		line-height: 1.47;

		display: inline-block;
		padding: 2em 1.5625em 2em 1.5625em
	}
		li.subheader a:link {
			color: var(--grey-55);
		}
		li.subheader a:visited {
			color: var(--grey-55);
		}
		li.subheader a:hover {
			color: var(--grey-80);
		}
		li.subheader a:active {
			color: var(--black);
		}
		
		li.subheader.active {
			color: var(--main);
		}
	
	li.tab {
		font-size: 0.938em;
		line-height: 1.33;
		
		display: inline-block;
		padding: 0.750em 2em 0.750em 2em;		
		border-bottom: 4px solid var(--white);
	}
		li.tab a:link {
			color: var(--grey-55);
		}
		li.tab a:visited {
			color: var(--grey-55);
		}
		li.tab a:hover {
			color: var(--main);
		}
		li.tab a:active {
			color: var(--black);
		}
		
		li.tab.active {
			color: var(--grey-80);
			border-bottom: 4px solid var(--orange-3);
		}
	
	li.card {
		font-size: 0.938em;
		line-height: 1.33;
		
		display: inline-block;
		padding: 0.750em 2em 0.750em 2em;		
		border-bottom: 4px solid var(--white);
	}	
	.quote p {
		font-weight: 400;
		font-style: italic;
		text-align: right;
	}
	
	.quote h2 {
		font-weight: 600;
		font-size: 1.125em;
		line-height: 1.25;
	}
	
	.quote h3 {
		color: var(--black);
		font-weight: 400;
		font-size: 1em;
		line-height: 1.25;	
	}
	
	.home .card h2 {
		font-size: 1.250em;
		line-height: 1.4;	
	}
	
	.card .header h2 {
		font-size: 1.250em;
		line-height: 1.4;	
	}
		
	.card p {
		font-size: 1em;
		line-height: 1.55;
		text-align: center;
	}
	
	.card h4 {
		font-size: 0.813em;
		font-weight: 400;
		color: var(--grey-80);
		line-height: 1.55;
	}
	
/* Buttons */
	
	button {
		color: var(--white);
		font-size: 0.938em;
		font-weight: 600;
		letter-spacing: 0.047em;
		line-height: 1.33;
		text-transform: uppercase;
		
		padding: 0.625em 1.500em 0.625em 1.500em;
		border-radius: 0.313em;
		background-color: var(--main);
	}
	
		button:hover {
			color: var(--grey-20);
			background-color: var(--dark);
		}
	
	button.white {
		color: var(--grey-60);
		background-color: var(--white);
		border: 1px solid var(--grey-60);
	}
	
		button.white:hover {
			color: var(--white);
			background-color: var(--main);
			border-color: var(--white);
		}
	
	button.large {
		color: var(--main);
		font-size: 1.250em;
		letter-spacing: 0.069em;
		
		padding: 0.750em 2em 0.750em 2em;
		background-color: var(--white);
		box-shadow: var(--shadow);
	}
	
		button.large:hover {
			color: var(--grey-70);
			background-color: var(--grey-20);
		}
	

/* Images */

/* Containers */

	.nav {
		background-color: var(--white);
		box-shadow: var(--bottom-line);
	}
	

	.quote {
		
	}

